{% extends 'base.html' %}

{% block content %}
<body>
<h1 class="about-page">About</h1>

<div class="indent">
<h5>How Cosmo Apparel Works</h5>
<p> Our market is a vibrant community where real people connect to celebrate the beautiful combinations of the cosmos. Cosmo Apparel empowers buyers by selling what they love.</p><br>
</div>

<div class="indent1">
    <h5>Knowledge and Research</h5>
    <p> Cosmo Apparel conducts research in the never-ending combinations of colors in our cosmos. We share our findings with our buyers by the shirts we offer.</p><br>
    </div>

<div class="indent1">
    <h5>Cosmo Apparel Team</h5>
    <p> This shop is owned by students in pursuit of the wonders of the cosmos. We have colege and senior high school students in the team that are working to keep this shop running.</p><br>
    </div>

<div class="indent1">
    <h5>Contact Us</h5>
    <p> If you have any questions or feedback about the T-shirts you purchased, please get in touch.
        <p> Email:  
        <a href="mailto:cosmo.app@gmail.com" target = "link-color">cosmo.app@gmail.com</a>
        </p>  

        <p> Phone:  
        <a href="mailto:cosmo.app@gmail.com" target = "link-color">(02) 782 90 14</a>
        </p>  
    </p>
</div>
<div class="indent" id="login">
    <hr><hr><hr><hr><hr><br>
{% if session.logged_in %}
{% else %}
    <p><strong><i>Are you the owner? Login now!</i></strong></p>
    <form action="{{ url_for('login') }}" method="post">
    <input class="btn btn-secondary" type="submit" name="action" value="login"></input>
    </form>
{% endif %}
</div>

</body>
{% endblock %}