{% extends 'base.html' %}
{% block content %}
  <h2>Buy Item</h2><br><br>
  <form action="{{ url_for('purchase_success') }}" method="POST" class="buy">
    <label class="buy" for="name">Product Name:</label>
    <input class="buy" type="text" id="name" name="name" value="{{ product['name'] }}" readonly><br>
    <label class="buy" for="quantity">Quantity:</label>
    <input class="buy" type="number" id="quantity" name="quantity" min="1" max="{{ product['stock'] }}"><br>
    <label class="buy" for="buyer_name">Your Name:</label>
    <input class="buy" type="text" id="buyer_name" name="buyer_name" required><br>
    <label class="buy" for="contact_details">Contact Details:</label>
    <input class="buy" type="text" id="contact_details" name="contact_details" required><br>
    <label class="buy" for="address">Address:</label>
    <textarea class="buy" id="address" name="address" required></textarea><br>
    <input class="buy" type="submit" value="Buy">
  </form>
{% endblock %}