{% extends 'base.html' %}
{% block content %}
<body>
<hr>
<div class="indent1">
    <h4>Sizes</h4>
    <table class="table">
      
        <thead>
          <tr>
            <th scope="col">T-shirt</th>
            <th scope="col">Width</th>
            <th scope="col">Length</th>
          </tr>
        </thead>
      
        <tbody>
          <tr>
            <th scope="row">Small</th>
            <td>18</td>
            <td>25</td>
          </tr>
          <tr>
            <th scope="row">Medium</th>
            <td>19</td>
            <td>26</td>
          </tr>
          <tr>
            <th scope="row">Large</th>
            <td>20</td>
            <td>27</td>
          </tr>
        </tbody>
      
      </table>
</div>
<br><hr>
<div class="indent1">
    <h4>Mode of Payment</h4>
    <p> Kindly send your payment to our G-cash account [0981 192 0921 - L** Pa*****].</p><br>
</div>

</body>

{% endblock %}
