{% extends 'base.html' %}

{% block content %}

<div class="logo"><img src="../static/img/logo.png"></img></div>

<div class="dbutton"><button class="button1"><a href="/products/item">Shop Now</button></div>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    {% for item in items %}
    <div class="carousel-item {% if loop.index == 1 %} active {% endif %}" id="slide{{ loop.index }}">
      <img src="{{item.Image}}" class="d-block w-100" alt="...">
    </div>
    {% endfor %}
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock %}
