{% extends 'base.html' %}

{% block content %}
<h1 class="homepage">Discover the</h1>
<p><h1>Cosmo Universe!</h1></p>

<p class="free">Welcome back to the Cosmo Apparel. The shirts shown
    below are Cosmo Apparel's first releases! All of these shirts are inspired by the recent Deepest Infrared image
    of the Universe by Webbs Near-Infrared Camera! Enjoy your surfing, our CosMates!</p>
</br>

<div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../static/css/img/shirt-1.jpg">
        <img src="../static/css/img/shirt-1.jpg" alt="Purple Flower" width="600" height="400">
      </a>
      <div class="desc">The Purple Flower</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../static/css/img/shirt-2.jpg">
        <img src="../static/css/img/shirt-2.jpg" alt="The Shadow Tinge" width="600" height="400">
      </a>
      <div class="desc">The Shadow Tinge</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../static/css/img/shirt-3.jpg">
        <img src="../static/css/img/shirt-3.jpg" alt="The Purple Bits" width="600" height="400">
      </a>
      <div class="desc">The Purple Bits</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../static/css/img/shirt-4.jpg">
        <img src="../static/css/img/shirt-4.jpg" alt="The Natural Abyss" width="600" height="400">
      </a>
      <div class="desc">The Natural Abyss</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../static/css/img/shirt-5.jpg">
        <img src="../static/css/img/shirt-5.jpg" alt="The Boiling Blue" width="600" height="400">
      </a>
      <div class="desc">The Boiling Blue</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../static/css/img/shirt-6.jpg">
        <img src="../static/css/img/shirt-6.jpg" alt="Touch of a Purplish Naivety" width="600" height="400">
      </a>
      <div class="desc">Touch of a Purplish Naivety</div>
    </div>
  </div>

  <div class="clearfix"></div>

  

{% endblock %}
