{% extends 'base.html' %}
{% block content %}
<div class="product-details">
  <div class="product-image">
    <img src="{{ item['image_url'] }}" id="product_image">
  </div>
  <div class="product-info">
    <h2>{{ item['name'] }}</h2>
    <ul>
      <li>Price: {{ item['price'] }}</li>
      <li>Size: {{ item['size'] }}</li>
      <li>{{ item['description'] }}</li>
      <li>
        Stock: <span class="stock {% if item['stock']['total'] == 0 %}out-of-stock{% endif %}">
          {% if item['stock']['total'] == 0 %}Out of Stock{% else %}{{ item['stock']['total'] }}{% endif %}
        </span>
      </li>
      {% if session.logged_in %}
        <li>Date Last Modified: {{ item['timestamp'] }}</li>
      {% endif %}
    </ul>
    
    <form method="POST" action="{{ url_for('buy', name=item['name']) }}">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" min="1" max="{{ item['stock'] }}" value="1">
        <button type="submit">Buy</button>
        {% if 'error_message' in session %}
            <p>{{ session['error_message'] }}</p>
            {% set _ = session.pop('error_message', None) %}
        {% endif %}
    </form>
    
  </div>
</div>
{% endblock %}