{% extends 'base.html' %}
{% block content %}
<h1>{{ item.Name }}</h1>
<img src="{{item.Image}}" id="product_image">
<ul>
    <li>Price: {{ item.Price }}</li>
    <li>Size: {{ item.Size }}</li>
</ul>
<form action="{{ url_for('modify') }}" method="post">
    <input type="hidden" name="product_id" value="{{ item.ID }}">
    <input class="btn btn-secondary" type="submit" name="modify" value="edit"></input>
    <input class="btn btn-danger" type="submit" name="modify" value="delete"></input>
</form>
{% endblock %}
