{% extends 'base.html' %}

{% block content %}
<div id="product">
  {% if display_type == 'name' %}
    <h3>{{ product.name }}</h3><hr><br>
    <h4>Choose your desired size:</h4><br>
    <ul class="list-container">
      {% for size in item %}
          <li class="list-item" id="product_size">
              <a href="{{ url_for('item_by_id', product_id=size['id']) }}">{{ size['size'] }}</a>
          </li>
      {% endfor %}
    </ul>
  {% elif display_type == 'id' %}
    <h3>{{ product.name }}</h3><hr><br>
    <img src="{{ item['image_url'] }}" id="product_image"><br><br>
    <p>{{ product.description }}</p>
    <p>Size: {{ product.size }}</p>
    <p>Price: {{ product.price }}</p>
    <p>Stock: {{ product.stock }}</p>
    {% if session.logged_in %}
    <p>Last Modified: {{ product.timestamp }}</p>
    <form action="{{ url_for('modify') }}" method="post">
      <input type="hidden" name="product_id" value="{{ product.id }}">
      <input class="btn btn-secondary" type="submit" name="action" value="edit"></input>
      <input class="btn btn-danger" type="submit" name="action" value="delete"></input>
    </form>
    {% else %}
    <form action="{{ url_for('buy', product_name=item['name'], product_size=item['size'], product_price=item['price']) }}" method="POST">
      <input type="hidden" name="product_name" value="{{ product.name }}">
      <input type="hidden" name="product_size" value="{{ product.size }}">
      <input type="hidden" name="product_price" value="{{ product.price }}">
      <input class="btn btn-secondary" type="submit" name="action" value="Buy"></input>
    </form>
    {% endif %}
  {% endif %}
</div>
{% endblock %}