{% extends 'base.html' %}
{% block content %}
<div class="grid-container">
  {% set displayed_images = [] %}
  {% for item in items %}
    {% if item['image_url'] not in displayed_images %}
      {% set _ = displayed_images.append(item['image_url']) %}
      <div class="grid-item">
          <a href="/products/{{ item.id }}">
              <img src="{{ item['image_url'] }}" alt="Item Image">
              <p>{{ item['name'] }}</p>
          </a>
      </div>
    {% endif %}
  {% endfor %} 
</div>
{% endblock %}