{% extends 'base.html' %}

{% block content %}
<div id="order">
  <hr><hr>
  <h2>Your Purchase Summary</h2><hr><br>
  <h3>Product Name: {{ purchase.product_name }}</h3>
  <p>Size: {{ purchase.product_size }}</p>
  <p>Price: {{ purchase.product_price }}</p>
  <p>Your Name: {{ purchase.your_name }}</p>
  <p>Contact Details: {{ purchase.contact_details }}</p>
  <p>Address: {{ purchase.address }}</p>
  <p>Proof of Payment:</p>
    <img src="{{ purchase.proof_of_payment }}" alt="Proof of Payment">
  <hr><hr>

  <p>Thank you for your purchase! To receive your item, kindly wait for our update in the contact details you've provided us or you can reach out to us via the contact channels indicated on our About page.</p><br>

  <div>
    <form action="/home" method="get">
      <button type="submit">Return to Home</button>
    </form><br>
    <form action="/products" method="get">
      <button type="submit">Browse Products</button>
    </form>
  </div>
</div>
{% endblock %}