{% extends 'base.html' %}

{% block content %}
<h1>Search Results</h1>

    <form action="/search" method="GET">
        <select id="criteria" name="criteria">
            <option value="animal_type">Animal Type</option>
            <option value="breed">Breed</option>
            <option value="name">Name</option>
            <option value="age">Age</option>
        </select>
        <input type="text" id="query" name="query">
        <button type="submit">Search</button>
    </form>

    {% if results %}
        <h2>Search Results for '{{ query }}' (Criteria: '{{ criteria }}')</h2>
        <ul>
            {% for result in results %}
                <li>
                    <h3><a href="{{ url_for('pet', pet_id=result['id']) }}">{{ result['name'] }}</a></h3>
                    <a href="{{ url_for('pet', pet_id=result['id']) }}">
                        <img src="{{ result['url'] }}" alt="{{ result['name'] }} Photo" id="pet_image">
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found for '{{ query }}' (Criteria: '{{ criteria }}').</p>
    {% endif %}
{% endblock %}