{% extends 'base.html' %}

{% block content %}
<h1>Update Item details</h1>
<form action="{{ url_for('update') }}" method="post">
    <input type="hidden" name="product_id" value="{{ item.ID }}">
    <label for="p_size">Size of Apparel</label>
    <select name="p_size" id="p_type" required>
        <option disabled selected value>...</option>
        {% if item.Size == "S" %}
        <option value="S" selected>S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        {% elif item.Size == "M" %}
        <option value="S">S</option>
        <option value="M" selected>M</option>
        <option value="L">L</option>
        {% elif item.Size == "L" %}
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L" selected>L</option>
        {% endif %}
    </select><br><br>
    <label for="p_name">Item Name:</label>
    <input type="text" name="p_name" id="p_name" value="{{ item.Name }}" required><br><br>
    <label for="p_price">Price:</label>
    <input type="text" name="p_price" id="p_price" value="{{ item.Price }}" required><br><br>
    <label for="p_url">Image URL:</label>
    <input type="url" name="p_url" id="p_url" value="{{ item.Image }}" required><br>
    <label for="p_url">Item Description:</label>
    <textarea name="p_desc" cols="30" rows="10">{{ item.Desc }}</textarea><br>
    <input type="submit" value="Update!">
</form>
{% endblock %}
